/*****************************************************
* CSS Mockup Activity - Custom CSS Stylesheet
* @author rlewis37
*
* Some rules have been included here to give you a head start.
* Create your own custom CSS rules below. Have fun!
******************************************************/
html, body {
	margin: 0;
}

.container {
	margin: 0 auto;
	padding: 0 2rem;
}

.clearfix {
	clear: both;
}

/* create a responsive container */
@media only screen and (min-width: 1200px) {
	.container { width: 1170px; }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
	.container { width: 970px; }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
	.container { width: 750px; }
}

/*****************************************************
* Flexbox Sticky Footer
* http://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/
******************************************************/

/*corrects IE min-height bug*/
html { display: flex;}
body { width: 100%;}

.sfooter {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.sfooter-content {
	flex: 1 0 auto;
}

/*****************************************************
* ADD YOUR OWN CSS BELOW! (ﾉ◕ヮ◕)ﾉ*:･ﾟ✧
******************************************************/
html {
	font-family: 'Roboto', sans-serif;
}


header {
	background-color: #ff8b00;
	color: white;
	padding: 40px;
}

header h1 {
	font-size: 4em;
	display: inline;

}

header em {
	display: inline;
	margin-left: 20px;
}

section {
	padding: 25px;
}
.first-panel {
	border: solid 3px #ff8b00;
	margin: 75px;

}

.instructions {
	color: #ff8b00;
}
.pull-left {
	float: left;
	margin: 20px;
}

img {
	width: 300px;
	height: auto;

}
.pull-right img {

	border: solid 2px gray;
	margin-right: 25px;
	float: right;
}

img.pull-left {
	border: solid 2px white;
}
.section-one {
	background-color: #D3D3D3;

}
.section-two h2{
	color: #ff8b00;
	text-align: right;
	font-size: 2em;
}

.emphasis {
	font-family: 'IM Fell Double Pica', serif;
	font-style: italic;
	font-weight: bold;
	font-size: 1.2em;
}
table {
	margin: 25px;
	color: white;
	background-color: #ff8b00;
	border-collapse: collapse;
	border: solid 1px white;
	width: 100%;
}

table td, table th {
	border: solid 1px white;
	padding: 15px;
	text-align: left;
}
footer {
	color: gray;
	background-color: black;
	padding: 25px;
	margin-top: 50px;
}